body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.804)),
    url('../images/body_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Fredoka', sans-serif;
}
